.animation-background {
  position: fixed;
  top: 0;
  right: 50px;
  width: 130%;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

.full-screen-animation {
  width: 100% ;
  height: 100%;
}
