.home-container {
  padding: 20px;
  /* background-color: #f8f8f8; */
  background-color: #ffffff;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.home-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
  color: #333;
}

.design-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-left: 30px;
}

.design-card {
  background-color: rgba(224, 182, 220, 0.315);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

.design-card:hover {
  transform: translateY(-5px);
}

.design-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.design-title {
  padding: 15px;
  font-size: 18px;
  text-align: center;
  color: #555;
}
