.stage-container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: auto;
  overflow: hidden;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.canvas-wrapper {
  display: block;
}
