/* edite-profile.css */
.profile-container {
    padding: 20px;
  }
  
  /* .edit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  } */
 
  .edit-icon{
    position: absolute;
    margin-top: -360px !important;
    margin-left: 160px !important;
    border: 1px solid #ccc;
    z-index: 10;
  }
  
  .edit-icon:hover {
    background-color: #37a2d4 ;
  }
  